@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

::selection {
  background-color: #61cc9c;
  color: black;
}

body {
  color: #fffffff2;
  background-color: #110f16;
  /* background-color: #0c0b0f; */
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
